﻿<form class="form-horizontal">
	<fieldset>
		<legend>Your Account</legend>

		<div class="alert alert-success" ng-show="successText != ''">{{successText}}</div>
		<div class="alert alert-danger" ng-show="warningText != ''">{{warningText}}</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Location</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="" ng-model="profile.location" />
				<p class="help-block"><small>Search by neighborhood, postal code, or city.</small></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Move In By</label>
			<div class="col-sm-4">
				<datepicker ng-model="profile.moveInBy" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Max Lease</label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="profile.maxLease">
					<option value="1">1 month</option>
					<option value="3">3 months</option>
					<option value="6">6 months</option>
					<option value="12">12 months</option>
					<option value="18">18 months</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Max Rent</label>
			<div class="col-sm-2">
				<input class="form-control" ng-model="profile.maxRent" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Max Utilities</label>
			<div class="col-sm-2">
				<input class="form-control" ng-model="profile.maxUtilities" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Max Deposit</label>
			<div class="col-sm-2">
				<input class="form-control" ng-model="profile.maxDeposit" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Orientation</label>
			<div class="col-sm-4">
				<select class="form-control" ng-model="profile.orientation">
					<option value="Undisclosed">Undisclosed</option>
					<option value="Straight">Straight</option>
					<option value="Gay">Gay</option>
					<option value="Lesbian">Lesbian</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="profile.title" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">About You</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" ng-model="profile.description"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>How social are you at home?</strong></p>
				<div class="radio">
					<label>
						<input type="radio" name="Social" value="0" ng-model="profile.socialIndex"> I keep to myself.
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Social" value="1" ng-model="profile.socialIndex"> I enjoy the occassional movie or meal together but prefer to be alone.
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Social" value="2" ng-model="profile.socialIndex"> I enjoy the occasional party at home (once a month).
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Social" value="3" ng-model="profile.socialIndex"> I enjoy frequent visits from friends and family and enjoy meeting new people.
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Social" value="4" ng-model="profile.socialIndex"> I host parties frequently (once a week) and enjoy having new people come to my home.
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>How frequently do you have overnight visitors?</strong></p>
				<div class="radio">
					<label>
						<input type="radio" name="Overnight" value="0" ng-model="profile.overnightVisitors"> Never
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Overnight" value="1" ng-model="profile.overnightVisitors"> Once a week
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Overnight" value="2" ng-model="profile.overnightVisitors"> A few times a week
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Overnight" value="3" ng-model="profile.overnightVisitors"> Daily
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>Are you a smoker?</strong></p>
				<div class="radio">
					<label>
						<input type="radio" name="Smoker" value="0" ng-model="profile.smoker"> Never
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Smoker" value="1" ng-model="profile.smoker"> Rarely
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Smoker" value="2" ng-model="profile.smoker"> Occassionally
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>How often do you clean?</strong></p>
				<div class="radio">
					<label>
						<input type="radio" name="Cleanliness" value="0" ng-model="profile.cleanlinessIndex"> A few times a month
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Cleanliness" value="1" ng-model="profile.cleanlinessIndex"> Weekly
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Cleanliness" value="2" ng-model="profile.cleanlinessIndex"> A few times a week
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Cleanliness" value="3" ng-model="profile.cleanlinessIndex"> Daily
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Cleanliness" value="4" ng-model="profile.cleanlinessIndex"> I never stop.
					</label>
				</div>			
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>Do you have any dietary preferences?</strong></p>
				<div class="radio">
					<label>
						<input type="radio" name="Dietary" value="0" ng-model="profile.carnivoreIndex"> I'm a strict vegan
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Dietary" value="1" ng-model="profile.carnivoreIndex"> I'm vegetarian						
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="Dietary" value="2" ng-model="profile.carnivoreIndex"> I'm omnivorous
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>Do you have pets?</strong></p>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="NoPets" ng-model="profile.noPets"> I prefer to not live with pets.
					</label>
				</div>
				<div class="checkbox" ng-hide="profile.noPets">
					<label>
						<input type="checkbox" name="Pets" value="Small dog" ng-click="checkPet('Small dog')" ng-checked="profile.pets.indexOf('Small dog') > -1"> Small sized dog (< 15 lbs)
					</label>
				</div>
				<div class="checkbox" ng-hide="profile.noPets">
					<label>
						<input type="checkbox" name="Pets" value="Medium dog" ng-click="checkPet('Medium dog')" ng-checked="profile.pets.indexOf('Medium dog') > -1"> Medium sized dog (> 30 lbs)
					</label>
				</div>
				<div class="checkbox" ng-hide="profile.noPets">
					<label>
						<input type="checkbox" name="Pets" value="Large dog" ng-click="checkPet('Large dog')" ng-checked="profile.pets.indexOf('Large dog') > -1"> Large dog (> 50 lbs)
					</label>
				</div>
				<div class="checkbox" ng-hide="profile.noPets">
					<label>
						<input type="checkbox" name="Pets" value="Cat" ng-click="checkPet('Cat')" ng-checked="profile.pets.indexOf('Cat') > -1"> Cat
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>What time do you normally wake up?</strong></p>
				<select class="form-control" ng-model="profile.wakeUpHour" style="width: 140px;">
					<option value="0">Midnight</option>
					<option value="1">1 AM</option>
					<option value="2">2 AM</option>
					<option value="3">3 AM</option>
					<option value="4">4 AM</option>
					<option value="5">5 AM</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value="10">10 AM</option>
					<option value="11">11 AM</option>
					<option value="12">12 PM</option>
					<option value="13">1 PM</option>
					<option value="14">2 PM</option>
					<option value="15">3 PM</option>
					<option value="16">4 PM</option>
					<option value="17">5 PM</option>
					<option value="18">6 PM</option>
					<option value="19">7 PM</option>
					<option value="20">8 PM</option>
					<option value="21">9 PM</option>
					<option value="22">10 PM</option>
					<option value="23">11 PM</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<p><strong>What time do you normally go to bed?</strong></p>
				<select class="form-control" ng-model="profile.toBedHour" style="width: 140px;">
					<option value="0">Midnight</option>
					<option value="1">1 AM</option>
					<option value="2">2 AM</option>
					<option value="3">3 AM</option>
					<option value="4">4 AM</option>
					<option value="5">5 AM</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value="10">10 AM</option>
					<option value="11">11 AM</option>
					<option value="12">12 PM</option>
					<option value="13">1 PM</option>
					<option value="14">2 PM</option>
					<option value="15">3 PM</option>
					<option value="16">4 PM</option>
					<option value="17">5 PM</option>
					<option value="18">6 PM</option>
					<option value="19">7 PM</option>
					<option value="20">8 PM</option>
					<option value="21">9 PM</option>
					<option value="22">10 PM</option>
					<option value="23">11 PM</option>
				</select>
			</div>
		</div>

		<div style="text-align: center;">
			<button class="btn btn-primary" ng-click="save()">Save</button>
		</div>
	</fieldset>
</form>
