﻿<ng-include src="'content/modules/views/common/header.html'"></ng-include>
<div class="container">
	<div>
		<tabs data="tabs" type="tabs" />
	</div>
	<div>
		<ui-view autoscroll="false"></ui-view>
	</div>
</div>
