﻿<form class="form-horizontal">
	<fieldset>
		<legend>Search Settings</legend>

		<div class="alert alert-success" ng-show="successText != ''">{{successText}}</div>
		<div class="alert alert-danger" ng-show="warningText != ''">{{warningText}}</div>

		<div class="row">
			<div class="col-sm-12">
				<p>
					By default we don't display your profile in our search results and we only allow members with matching genders and 
					age ranges to contact you. 
				</p>
			</div>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="profile.showInSearchResults"> Show my information in search results.
			</label>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="profile.allowAllContact"> Allow members of any gender or age to contact me.
			</label>
		</div>

		<div style="text-align: center;">
			<button class="btn btn-primary" ng-click="save()">Save</button>
		</div>
	</fieldset>

	<fieldset>
		<legend>Deactivate Account</legend>

		<div style="text-align: center;">
			<button class="btn btn-danger">Deactivate My Account</button>
		</div>
	</fieldset>
</form>