﻿<div class="row">

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Refine Search
			</div>
			<div class="panel-body">
				<form class="facets">
					<div class="form-group" style="display: none;">
						<input type="text" class="form-control" placeholder="keywords" ng-model="criteria.keywords" popover="We'll search the title and bio for your keywords" popover-trigger="mouseenter" />
					</div>
					<div class="form-group" style="display: none;">
						<input type="text" class="form-control" placeholder="location" popover="Search by neighborhood, city name, or postal code" popover-trigger="mouseenter" />
					</div>

					<div class="form-group">
						<label>Preferred Age</label>
						<div>
							<div ui-slider min="18" max="100" ng-model="criteria.age" ng-model-options="{debounce: 750}"></div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								Age: {{criteria.age}}
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Availability</label>
						<select class="form-control" ng-model="criteria.moveInByDays">
							<option value="0">available today</option>
							<option value="15">next 15 days</option>
							<option value="30">next 30 days</option>
							<option value="45">next 45 days</option>
							<option value="60">next 60 days</option>
						</select>
					</div>

					<div class="form-group facet" ng-repeat="facet in people.facets">
						<label>{{facet.name | humanCamel}}</label>
						<div ng-repeat="fv in facet.values" class="row">
							<div class="col-xs-1">
								<button class="btn btn-default btn-xs" ng-click="addFilter(facet, fv)"><i class="fa fa-plus"></i></button>
							</div>
							<div class="col-xs-8">
								{{fv.value}}
							</div>
							<div class="col-xs-2 text-right">
								{{fv.count}}
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Social Index</label>
						<div>
							<div ui-slider min="1" max="5" ng-model="criteria.socialIndex" ng-model-options="{debounce: 750}"></div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								less
							</div>
							<div class="col-xs-6 text-right">
								more
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Overnight Visitors</label>
						<div>
							<div ui-slider min="1" max="5" ng-model="criteria.overnightVisitors" ng-model-options="{debounce: 750}"></div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								less
							</div>
							<div class="col-xs-6 text-right">
								more
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Smoker</label>
						<div>
							<div ui-slider min="1" max="5" ng-model="criteria.smoker" ng-model-options="{debounce: 750}"></div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								never
							</div>
							<div class="col-xs-6 text-right">
								frequent
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Cleanliness</label>
						<div>
							<div ui-slider min="1" max="5" ng-model="criteria.cleanlinessIndex" ng-model-options="{debounce: 750}"></div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								less
							</div>
							<div class="col-xs-6 text-right">
								frequent
							</div>
						</div>
					</div>

					<div class="text-right">
						<a class="btn btn-primary" ng-click="search()">Search</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="col-md-9" ng-show="warningText != ''">
		<div class="alert alert-danger">{{warningText}}</div>
	</div>

	<div class="col-md-9" ng-show="warningText == ''">

		<div class="panel panel-default" ng-show="isLoading">
			<div class="panel-heading">
				<strong>Please Wait...</strong>
			</div>
			<div class="panel-body text-center">
				<i class="fa fa-spinner fa-spin fa-2x"></i>
			</div>
		</div>

		<div class="panel panel-default" ng-hide="isLoading || people.total > 0">
			<div class="panel-heading">
				We couldn't find any data that matched your query.
			</div>
		</div>

		<div class="panel panel-default" ng-hide="isLoading || people.total == 0">
			<div class="panel-heading">
				Showing {{people.start + 1}} to {{people.start + people.pageSize}} of {{people.total}}
			</div>
		</div>

		<div class="panel panel-default" ng-hide="isLoading || people.total == 0 || criteria.filters.length == 0">
			<div class="panel-body">
				<div class="filter" ng-repeat="filter in criteria.filters">
					{{filter.name}} : {{filter.value}} <button class="btn btn-default btn-xs" ng-click="removeFilter(filter)"><i class="fa fa-remove"></i></button>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default" ng-repeat="person in people.results" ng-hide="isLoading || people.total == 0">
			<div class="panel-heading">
				{{person.account.title}} ({{person.score}})
				<div class="pull-right">
					Budget: {{person.account.maxRent}} / month
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8" style="position: relative;">
						<div>
							<p>{{person.account.description}}</p>
							<p>{{person.account.location}}</p>
							<div>
								<span class="m label label-info" ng-repeat="pet in person.account.pets">{{pet}}</span>
							</div>
							<div>
								<span class="m label label-info">Social: {{person.account.socialIndex}}</span>
								<span class="m label label-info">Overnight Visitors: {{person.account.overnightVisitors}}</span>
								<span class="m label label-info">Smoker: {{person.account.smoker}}</span>
								<span class="m label label-info">Cleanliness: {{person.account.cleanlinessIndex}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center p">
						<div class="row">
							<div class="col-xs-4">
								<div>Available</div>
								<div class="label label-primary">{{person.account.moveInBy | date:'MM/dd' }}</div>
							</div>
							<div class="col-xs-4">
								<div>Gender</div>
								<div class="label label-primary">{{person.account.gender}}</div>
							</div>
							<div class="col-xs-4">
								<div>Age</div>
								<div class="label label-primary">{{person.account.age}}</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<div>Deposit</div>
								<div class="label label-primary">{{person.account.maxDeposit}}</div>
							</div>
							<div class="col-xs-4">
								<div>Utilites</div>
								<div class="label label-primary">{{person.account.maxUtilities}}</div>
							</div>
							<div class="col-xs-4">
								<div>Lease</div>
								<div class="label label-primary">{{person.account.maxLease}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer text-center">
				<a class="btn btn-sm btn-default" remove-profile><i class="fa fa-user-times fa-fw"></i> Remove</a>
				<a class="btn btn-sm btn-primary" contact-profile><i class="fa fa-envelope fa-fw"></i> Contact</a>
			</div>
		</div>

		<div class="row" ng-hide="isLoading || people.total == 0">
			<div class="col-md-12" style="text-align: center;">
				<a class="btn btn-default" ng-disabled="!people.hasPreviousPage" ng-click="previous()">Previous</a>
				<a class="btn btn-default" ng-disabled="!people.hasNextPage" ng-click="next()">Next</a>
			</div>
		</div>
	</div>
</div>

