﻿body {
	font-family: 'Montserrat', sans-serif;
	background: #eee;
}

form fieldset a.btn {
	margin-right: 5px;
	margin-bottom: 5px;
}

.modal-body {
	max-height: 250px;
	overflow: auto;
}

.tab-container {
	margin-bottom: 10px;
}

.chat-panel  {
    height: 200px;
    overflow-y: scroll;
	background: #fff;
}

.chat-panel > div.m {
	margin: 0px;
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 10px;
}



.panel {
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
}

.p .row:first-child > div > div:first-child, .p .row:nth-child(2) > div > div:first-child {
	color: #999;
	font-size: 85%
}

.p .row:first-child > div > div:nth-child(2), .p .row:nth-child(2) > div > div:nth-child(2) {
	display: block;
	font-size: 90%;
}

.m.label {
	margin-top: 5px; 
	margin-right: 5px;
}

#navbar > ul > li.dull > a > i {
	color: #dcdcdc;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #4e69a2;
	background-color: #eee;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar {
	background: #4e69a2; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e69a2 0%, #3d5a99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e69a2), color-stop(100%,#3d5a99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e69a2 0%,#3d5a99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e69a2 0%,#3d5a99 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e69a2 0%,#3d5a99 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4e69a2 0%,#3d5a99 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e69a2', endColorstr='#3d5a99',GradientType=0 ); /* IE6-9 */
}

fieldset {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;	
	padding: 20px;
    position:relative;
    padding-top:50px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
}

fieldset > legend {
    position:absolute;
    top:10px;
    left:18px;
	border-bottom: none;
}

fieldset:last-of-type {
	margin-bottom: 20px;
}

.alert-success {
	border-left: 10px solid #3c763d;
}

.alert-danger {
	border-left: 10px solid #a94442;
}

.alert-info {
	border-left: 10px solid #31708f;
}

.r > div {
	margin-bottom: 5px;
}

.facet > div {
	margin-top: 2px;
}

.filter {
	font-size: 85%;
	padding: 4px;
	display: inline-block;
	margin-right: 15px;
}