﻿
<div class="container" style="margin-top:40px">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong> Sign in to continue</strong>
				</div>
				<div class="panel-body">
					<form role="form" action="#" method="POST">
						<div class="row">
							<div class="col-sm-12 col-md-10  col-md-offset-1 ">
								<p>

								</p>

								<div class="form-group text-center">
									<a href="http://localhost:4275/v1/oauth/facebook" class="btn btn-primary"><i class="fa fa-facebook-official"></i> Sign in with facebook</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>