﻿
<div class="container" style="margin-top:40px">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Please Wait...</strong>
				</div>
				<div class="panel-body">
					<div class="alert alert-danger" ng-show="warningText != ''">
						{{warningText}}
					</div>
					<form role="form" action="#" method="POST">
						<div class="row">
							<div class="col-sm-12 col-md-10  col-md-offset-1 text-center">
								<i class="fa fa-spinner fa-spin fa-2x" ng-hide="warningText != ''"></i>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>