﻿<div class="modal-header">
	<h3 class="modal-title">Contact Profile</h3>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
			<textarea class="form-control"></textarea>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Send</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>