﻿<nav class="navbar navbar-default" ng-controller="MRF.Header">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="{'active' : isActive('/matches')}"><a ui-sref="matches.people"><i class="fa fa-search fa-2x"></i></a></li>
				<li ng-class="{'active' : isActive('/messages')}"><a ui-sref="messages"><i class="fa fa-comments fa-2x"></i></a></li>
				<li ng-class="{'active' : isActive('/profile')}"><a ui-sref="profile.about"><i class="fa fa-gear fa-2x"></i></a></li>
				<li><a ui-sref="signout"><i class="fa fa-sign-out fa-2x"></i></a></li>
			</ul>
		</div>
	</div>
</nav>