﻿<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<p>{{question}}</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Ok</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>