﻿<ng-include src="'content/modules/views/common/header.html'"></ng-include>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Sort By <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
				</ul>
			</div>
			Showing {{messages.Page + 1}} to {{messages.Page + people.PageSize}} of {{messages.Total}}
		</div>
	</div>

	<div class="panel panel-default" ng-repeat="message in messages.Items">
		<div class="panel-heading">
			<a class="btn btn-xs btn-default expand-panel"><i class="fa fa-chevron-right"></i></a>
			{{message.Title}}
			<div class="pull-right">
				Location: {{message.Location}} Rent: {{message.Rent}} / month
			</div>
		</div>
		<div class="panel-body" style="display: none;">
			<div class="row">
				<div class="col-md-8" style="position: relative;">
					<div>
						<p>{{message.Description}}</p>
					</div>
				</div>
				<div class="col-md-4 text-center p">
					<div class="row">
						<div class="col-xs-4">
							<div>Available</div>
							<div class="label label-primary">{{message.Available}}</div>
						</div>
						<div class="col-xs-4">
							<div>Gender</div>
							<div class="label label-primary">{{message.Gender}}</div>
						</div>
						<div class="col-xs-4">
							<div>Age</div>
							<div class="label label-primary">{{message.Age}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div>Deposit</div>
							<div class="label label-primary">{{message.Deposit}}</div>
						</div>
						<div class="col-xs-4">
							<div>Utilites</div>
							<div class="label label-primary">{{message.Utilities}}</div>
						</div>
						<div class="col-xs-4">
							<div>Lease</div>
							<div class="label label-primary">{{message.Lease}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<a class="btn btn-sm btn-danger" block-profile><i class="fa fa-user-times fa-fw"></i> Block</a>
			<a class="btn btn-sm btn-warning" remove-profile><i class="fa fa-remove fa-fw"></i> Remove</a>
		</div>
		<div class="panel-footer chat-panel">

			<div class="m text-left">
				Error dicunt theophrastus cu qui. Ad eos simul possit option, adipisci principes sed at. Detracto adolescens pro ea, duo no
			</div>

			<div class="m text-right">
				Error dicunt theophrastus cu qui. Ad eos simul possit option, adipisci principes sed at. Detracto adolescens pro ea, duo no
			</div>

		</div>
		<div class="panel-footer text-center">
			<div class="input-group">
				<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
				<span class="input-group-btn">
					<button class="btn btn-primary btn-sm">
						Send
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" style="text-align: center;">
			<a class="btn btn-default">Previous</a>
			<a class="btn btn-default">Next</a>
		</div>
	</div>
</div>
